# Python stuff
*.py[cdo]
.venv

# Editor detritus
*.vim
*.swp
tags
# If you wish to contribute and use a different editor, please don't 
# extend this list, or it will quickly get very long.
# Instead create a '.gitignore-global' file in your home directory and 
# run 'git config --global core.excludesfile ~/.gitignore-global'

# Packaging detritus
*.egg
*.egg-info
*.pyc
*.whl
dist
build

# Unit test / coverage reports
coverage
.coverage*
.tox
.cache
.pytest_cache
.mypy_cache
