# Python stuff
*.py[cdo]
.venv

# Editor detritus
*.vim
*.swp
.vscode
tags

# Packaging detritus
*.egg
*.egg-info
*.pyc
*.whl
dist
build

# Unit test / coverage reports
coverage
.coverage*
.tox
.cache
.pytest_cache
.mypy_cache